body {
  margin: 0;
  font-family: 'Tajawal', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --background : #F7F7F7;
  --footer: #a4a4a4bf;
  --green:#00AB52;
  --white:white;
  --black:black;

}
/* home page style */
.home-img{
  width:1263px ;
  height: 583px;
  cursor: pointer;
}

.home-card{
background-color: #F6F7F7;
width: 179px;
height: 162px;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: black;
}

.home-cards{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

/* navbar style */
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: white;
  border: 1px solid #DFDFDF;
  
}
.logo-nav{
  height: 65px;
  width: 110px;
}
.search-box{
display: flex;

}

.quantity-nav{
  border-radius: 50%;
  padding: 3px;
  background-color: rgba(232, 211, 211, 0.9);
  color: black;
  font-size: small;
  position: absolute;
  margin-right: 192px;
  margin-top: 0px;
  font-weight: bolder;
}

.search-input{
  background-color: var(--background);
  border: 1px solid #E1E1E1;
  border-radius: 30px;
  padding-left: 350px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: large;
}

.search-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  padding: 10px;
  background-color: var(--green);
  border-radius: 50%;
  cursor: pointer;
}

.login-cart-btns{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7D7D7D;
  gap: 12px;
}

.line-nav{
  height: 25px;
  padding: 1px;
  background-color: #7D7D7D;
  color: #7D7D7D;
  
}

.cart-nav{
  display: flex;
  align-items: center;
  gap: 4px;
}

.bottom-nav{
  background-color: #53565A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #D9DBDE;
  gap: 18px;
}

.bottom-nav >p{
cursor: pointer;
}

.bottom-nav >p:hover{
background-color: var(--background);
color: var(--green);
}

.dropdown-content-nav {
  display: none;
  position: absolute;
  background-color: var(--background);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: pointer;
  text-decoration: none;
}
.noLine{
  text-decoration: none;
}

.grey7{
  color: #777777;
}

.dropdown-nav {
  position: relative;
  display: inline-block;
}

.dropdown-content-nav p {
  color: var(--black);
  padding: 10px 14px;
  display: block;
  color: #7D7D7D;
}

.dropdown-nav:hover .dropdown-content-nav {
  display: block;
}
.dropdown-nav:hover .dropbtn-nav {
  background-color: var(--background);
  color: var(--green);
  cursor: pointer;
}

.dropbtn-nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer style */

.footer{
  justify-content: space-between;
  background-color: white;
  color:var(--black);
  display: flex;
  flex-direction:row;
  gap: 10%;
  padding: 5%;
}
 .logo-footer{
  height: 60px;
  width: 90px;
}
.text {
  color:gray;
  font-size: 16px;
	list-style: none;
  text-decoration: none;
  cursor: pointer;
}
.widet-title{
  font-size:24px;
  font-size: 900;
}
.footer-iocn{
  gap:10px;
  padding: 15px;
  color:var(--green);
  display: flex;
}
.icon-Instagram:hover,
.icon-Twitter:hover {
  color:var(--white);
  background-color: var(--green);
  border-radius: 6px; 
  cursor: pointer; 
}
li > p:hover{
  color:var(--green);
}
ul{
  list-style-type: none;
}

.footer-block4 .text-block4{
background-color: gray;
padding: 20px;
color: var(--white);
padding-left: 40px;
margin-bottom: 0%;
}

.line-footer{
  height: 1px;
  width: 20%;
  padding: 0.5px;
  background-color: var(--green);
}
/* my account */
.contenr-account{
  display: flex;
  flex-direction: row;
  padding: 50px;
  padding-right: 30%;
}
.account-content{
  background-color: var(--white);
  color:var(--black);
  display: flex;
  flex-direction:column;
padding-right: 50px;
}
.button-açcount{
  background-color:var(--white);
  border: 0.5px solid gray;
  border-radius: 7px;
  color: var(--black);
  padding: 15px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
}
.button-açcount:hover{
  color: var(--white);
  background-color: var(--black);
}
.boutton-content{
  display: flex;
  flex-direction:row;
  padding: 5%;
  gap: 2%;
}
.sidenav-account {
  display: flex;
  flex-direction: column;
  color:var(--black);
  position: fixed;
  top: 30%;
  left: 75%;
  padding-right: 10px;
  border-left: 1px solid #ECECEC;
  /* fix */
  position: absolute;
}

.sidenav-account a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  /* display: block; */
}
.sidenav-account a:hover {
  color: var(--green);
}

/* profile style */
.profile-super{
  padding: 10px;
  background-color: #F7F7F7;
  text-align: center;
  margin-top: 0%;
  font-family: 'Tajawal', sans-serif;
}
.profile-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-right: 35%;
  padding-bottom: 20px;

}
.profile-input{
  padding: 0px 15px;
  width: 420px;
  height: 50px;
  border: 1px solid #DDDDDD;
}
.profile-checkbox {
  line-height: 5.1;
}
.profile-btn{
  background-color: #1CA653;
  color: white;
  width: 170px;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
  cursor: pointer;
  
}
/* side menu style */
.side-menu-container{
  display: flex;
  flex-direction: column;
  font-family: 'Tajawal', sans-serif;
  gap: 10px;
  padding-top: 25px;
}
.sidemenu-text{
  width: 114px;
  height: 38px;
  background-color: white;
  color: #53565A;
  display: flex;
  justify-self:center;
  align-items: center;
  cursor: pointer;
  padding: 0px 15px;
}

.sidemenu-text:hover{
  color: #00AB52;
}

/* about style */
.about-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.block1-about{
  background-image: url('https://nabataty.com/store/wp-content/uploads/2019/06/DSC_7671-1273x800.jpg');
  font-family: 'Tajawal', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.about-p{
  display: flex;
  flex-direction: column;
  max-width: 70ch;
  background-color: black;
  opacity: 70%;
  color: white;
  padding: 0px 40px;
  justify-content: center;
  align-items: center;
}

.about-p>p{
  color: white;
  font-size: 21px;
  padding: 0px 20px;
}

.about-p>h1{
  font-size: 54px;
  padding: 0px 20px;

}

.about-text1{
  font-size: 25px;
  color: #777777;
  text-align: center;
  padding: 0px 20px;
}

.about-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.circle-about{
  display: flex;
  justify-content: center;
  align-items: center; 
  border-radius: 50%;
  padding: 15px;
  color: #C0C0C0;
  border: 2px solid #C0C0C0;
}

.about-text2{
  font-size: 19px;
  color: #777777;
  text-align: center;
}
/* indoor plant style */
.product-card{
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #DEDEDE;
  border-radius: 10px;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.product-image{
  height: 219px;
  width: 183px;
  border-radius: 10px 10px 0px 0px;
}
.product-info{
display: flex;
flex-direction: column;
justify-content: center;
padding-bottom: 10px;
gap: 10px;
}

.plant-name{
  color: #777777;
  max-width: 18ch;
  height: 40px;
}

.add-to-cart-btn{
  background-color: #00AB52;
  color: white;
  padding: 2px;
  font-size: 13;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  border-radius: 30px;
}

.products-grid{
   display: grid;
   grid-template-columns: auto auto auto auto auto;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 20px;
   gap: 12px;
}

.display-products{
  display: flex;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.indoor-plant-des{
  color: #777777;
  font-size: 18px;
  padding-right: 18px;
  max-width: 90ch;
}

.grey-back{
  background-color: #F6F7F7;
}

.column-flex{
  display: flex;
  flex-direction: column;
}

.product-price{
  display: flex;
  align-items: center;
  color: black;
}
/* login style */
.my-account-h1{
  padding: 15px;
  background-color: #F7F7F7;
  text-align: center;
  margin-top: 0%;
  border-bottom: 1px solid #ECECEC;
  font-family: 'Tajawal', sans-serif;
}

.login-container{
  display: flex;
  gap: 8px;
  padding: 5px 25px 5px 25px;
  justify-content: center;
  font-family: 'Tajawal', sans-serif;
}

.sign-in{
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ECECEC;
  padding-left: 8px;
}

.sign-up{
  display: flex;
  flex-direction: column;
  padding-right: 5px;
}

.login-input{
  padding: 0px 13px;
  width: 425px;
  height: 46px;
  background-color: white;
  border: 1px solid #DDDDDD;
}

.login-btn{
  text-decoration:none;
  background-color: #1CA653;
  color: white;
  width: 173px;
  height: 46px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 18px;
  cursor: pointer;
}

.login-btn:hover{
  background-color: #188e47;
}

.vertical-line{
  width: 1px;
  background-color: #ECECEC;
  height: 100%;
}

.row-flex{
  display: flex;
  align-items: center;
  gap: 4px;
}

.login-title{
  font-size: 24px;
}

.login-text{
  font-size: 18px;
}

.forget-pass{
  color: #7A7A7A;
  cursor: pointer;
  font-size: 19px;
}

.forget-pass:hover{
  color: black;
}

.link-password{
  color: #777777;
  font-size: 19px;
}
/* ordes */
.order-btn{
  background-color: #1CA653;
  color: white;
  width: 170px;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
  cursor: pointer;
}
.order-btn:hover{
  background-color: #188e47;
}
.order-ontainer{
  gap: 20px;
  padding: 100px;
  padding-right: 30%;
  padding-bottom: 20%;
  display: flex;
  flex-direction: row;
}
/* address  */
.address-contenr{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 90px;
  padding-right: 30%;
}
.address-content{
  display: flex;
  flex-direction: row;
  gap: 10%;
}
/* notfound page */
.title-Notfound{
  font-family: "Cairo";
  text-align: center;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  line-height:2
}
.title-Notfound h1{
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 90px;
    margin: 10px 0;
}

/*plant details */
.plant-details-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  font-family: 'Tajawal', sans-serif;
  padding-top: 20px;
}

.plant-details{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.plant-image-details{
height: 555px;
width: 555px;
}

.plant-img-info{
  height: 103px;
  width: 100px;
}

.plant-care-details{
  display: flex;
  align-items: center;
}

.details-flex{
  /* display: flex;
  flex-direction: column; */
  max-width: 49ch;
}

.plant-des-details{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.image-desc-details{
  height: 525px;
  width: 555px;
  padding: 0px 0px 0px 30px;
}

.black-details{
  color: black;
  font-size: 19px;
  font-family: 'Tajawal', sans-serif;
  font-weight: bold;
}

.grey-details{
  color: #777777;
  font-size: 19px;
  font-family: 'Tajawal', sans-serif;
}
.product-price-details{
  color: black;
  font-size: 30px;
}
.add-to-cart-details{
  background-color: #00AB52;
  color: white;
  padding: 2px;
  font-size: 13;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 40px;
  margin-top: 6px;
  border-radius: 30px;
  cursor: pointer;
}

.details-desc{
  font-size: 19px;
  color: #777777;
  max-width: 60ch;
}

.details-h3{
  font-size: 20px;
  border-bottom: 4px solid #00AB52;
  width: fit-content;
  font-weight: bolder;
  font-family: 'Tajawal', sans-serif;
  font-size: 30px;
  margin-right: 50%;
}

/* cart */
.view-cart{
   display: flex;
   flex-direction: row;
   padding: 10px;
   padding-bottom: 10%;
}
.prodact-contenr{
  padding-right: 10%;
  padding: 30px;

  }

.cart-img{
 width: 100px;
 height: 120px;
 
} 
table, th, td {
  padding: 9px;
}
.icon-delete{
  padding-top: 55px;
}
.continua-btn{
  text-decoration:none;
  color:#1CA653;
  border: 1px solid #1CA653;
  width: 180px;
  height: 46px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.continua-btn:hover{
  color: var(--white);
  background-color: #188e47;
}
.sid-cart{ 
display: flex;
flex-direction: column;
color:var(--black);
}
.total-cart{
display: flex;
flex-direction: row;
gap: 70px;
}
.shinpping-cart{
display: flex;
flex-direction: row;
gap: 70px;
}
.final-total{
  display: flex;
  flex-direction: row;
  gap: 70px;
  padding-bottom: 20px;
}
.cart-btn{
  text-decoration:none;
  border-radius: 15px;
  background-color: #1CA653;
  color: white;
  width: 280px;
  height: 46px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
 
}
.cart-btn:hover{
  background-color:#188e47;
  
}

.cart-flex{
  display: flex;
  gap: 16px;
 
}

.cart-flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* checkout */
.bill-container{
  display: flex;
  gap: 10%;
  padding: 5px 25px 80px 25px;
  justify-content: center;
  font-family: 'Tajawal', sans-serif;
  padding-top: 40px;
}
.bill-input{
  padding: 0px 13px;
  width: 425px;
  height: 46px;
  background-color: white;
  border: 1px solid #DDDDDD;
}
.shipping-optional{
 padding-top: 20px;
 padding-bottom: 20px;
 font-size: 16px;
}
.form-city ,select{
  font-size: 14px;
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.checkout-container{
  box-shadow:         3px 3px 5px 6px #ccc;
  padding: 20px;
}
.checkout-title{
display: flex;
flex-direction: row;
gap: 35%;
padding: 2%;
}
.line-checkout {
  height: 0.5px;
  background: rgba(97, 97, 97, 0.396);
}
.checkout-btn{
  border-radius: 15px;
  background-color: #1CA653;
  color: white;
  width: 390px;
  height: 46px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.checkout-btn:hover{
  background-color: #188e47;
}
.checkout-checkbox {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 10px;
}

/* bill */
.titel-bill{
padding: 15%;
text-align: center;
}
/* offers style */
.line{
  text-decoration: line-through;
}
.padding{
  padding-top: 25px;
}

/* hide  display*/
.hide{
  display: none;
}
.display{
  display: block;
}